body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1d1d1d;
    margin: 0;
    padding: 0;
}

.main-container {
    background-color: #333;
    color: #fff;
    border-radius: 8px;
    padding: 2rem;
    width: 80%;
    max-width: 600px;
    box-sizing: border-box;
}

.logo {
    text-align: center;
    margin-bottom: 2rem;
}

.logo img {
    max-width: 100px;
}

.logo-title {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.sub-title {
    font-size: 0.9rem;
    text-align: center;
    margin-bottom: 2rem;
}

.button-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 1rem;
}

button {
    padding: 1rem;
    border: none;
    background-color: #666;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #777;
}

.footer {
    text-align: center;
    margin-top: 2rem;
}

.footer p {
    color: #aaa;
    font-size: 0.75rem;
}

.chat-area {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #333;
    padding: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.chat-area input {
    flex-grow: 1;
    padding: 1rem;
    border-radius: 25px;
    border: none;
    outline: none;
    color: #fff;
    background-color: #222;
}

.chat-area button {
    padding:
}